<html><head><title>Test</title></head>
<body><h1> Hi Mr. {{name}}</h1>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="subject">Subject:</label>
        <input type="text" name="subject" required><br>
    
        <label for="message">Message:</label>
        <textarea name="message" required></textarea><br>
    
        <label for="recipient_email">Recipient Email:</label>
        <input type="email" name="recipient_email" required><br>
    
        <button type="submit">Send Email</button>
    </form>

</body>
</html>